*{box-sizing: border-box;}

Body {
    background-color: lightblue;
}

img {
    border-radius: line 2px;
    border: 10px solid black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color:black;
    text-align: center;
    font: Helvetica;
    font-size:36px;
    font-style: bold;
}

h2 {
    color: blueviolet;
font-size:28px;
font-style: italic;
}

Body {
    color:black;
    font: Helvetica;
    font-size: 24px;
}

button {
    width: 50%;
    height: 300%;
    font-size: 16px;
    display: block;
    max-width: 300px;
    margin: auto;
   
}